body {
    line-height: 1.8;
    background-color: lightsteelblue !important;
    font-family: 'PT Sans Narrow', sans-serif !important;
}

p{
    font-size: 200%;
    text-align: center;
    padding-left: 5%;
    padding-right: 5%;
}

.header {
    text-align: center;
    font-size: 400%;
    padding-bottom: 2%;
    padding-top: 2%;
}

.mailer{
    float: right;
    height: 30%;
}
ul{
    font-size: 250%;
    list-style: none;
}

li img{
    height: 20%;
    padding-right: 2%;
    padding-bottom: 5%;
}

.download{
    background-color: rgba(132, 255, 83, 0.47);
    padding-bottom: 5%;
}

.row{
    margin-left: 30%;
    margin-bottom: 5%;
}

.row img{
    width: 30%;
    height: auto;
    margin-right: -7%;
    margin-left: 15%;
}

.aligned {
    display:flex;
    align-items:center;
    align-content: center;
}

h2{
    text-align: center;
    font-size: 150%;
}

#wrapper {
    width: 90%;
    margin-left: 5%;
    display: flex;
    justify-content: space-between;
    overflow: auto;
}
#first {
    width: 45%;
}

#second {
    width: 45%;
    float: right;
}

.comments {
    background-color: rgba(184, 255, 254, 0.65);
}
