.navbar {
    padding-top: 15px;
    padding-bottom: 15px;
    border: 0;
    border-radius: 0;
    margin-bottom: 0;
    font-size: 12px;
    letter-spacing: 5px;
    position: fixed;
}

body {
    line-height: 1.8;

}
h1 {
    padding-top: 2%;
    font-size: 500%;
}

h2 {
    font-size: 200%;
}

.img-circle {
    display: block;
    border-radius: 50%;
    align-content: center;
    margin: auto;
    width: 30%;
    height: auto;
    border: 3px solid green;
    padding: 10px;
}

.section-1{
    text-align: center;
    align-content: center;
    background-color: #7FFF00;
    font-family: "Bookman Old Style";

}

.section-2{
    text-align: center;
    align-content: center;
    background-color: #7dc0ff;
    font-family: "Bookman Old Style";
}

footer {
    text-align: center;
}

p{
    font-size: 160%;
}

.last-p {
    padding-bottom: 5%;
}

.more_me-list {
    text-align: center;
    align-content: center;
    justify-content: center;
    font-size: 160%;
    list-style: none;
}

.hack-img {
    align-content: center;
    margin-left: 10%;
    margin-bottom: 5%;
}

.thumbs-img {
    align-content: center;
    margin-bottom: 5%;
    margin-top: 5%;
    width: 23.5%;
    height: auto;
}

a{
    font-size: 200%;
}

a:visited {
    color: green;
}

a:active {
    color: blue;
}