html {
    box-sizing: border-box;
}
*,
*:before,
*:after {
    box-sizing: inherit;
}
html {
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}
body {
    margin: 0;
}
button,
input {
    font: inherit;
    margin: 0;
}
button,
input {
    overflow: visible;
}
button {
    text-transform: none;
}
button,
html [type=button] {
    -webkit-appearance: button;
}
button::-moz-focus-inner,
[type=button]::-moz-focus-inner {
    padding: 0;
    border-style: none;
}
button:-moz-focusring,
[type=button]:-moz-focusring {
    outline: 1px dotted ButtonText;
}
::-webkit-input-placeholder {
    opacity: .54;
    color: inherit;
}
::-webkit-file-upload-button {
    font: inherit;
    -webkit-appearance: button;
}
html,
body {
    font-family: Verdana, sans-serif;
    font-size: 15px;
    line-height: 1.5;
}
html {
    overflow-x: hidden;
}
h1 {
    font-size: 36px;
}
h1 {
    font-family: 'Segoe UI', Arial, sans-serif;
    font-weight: 400;
    margin: 10px 0;
}
.wide {
    letter-spacing: 4px;
}
.button {
    display: inline-block;
    overflow: hidden;
    padding: 8px 16px;
    cursor: pointer;
    text-align: center;
    vertical-align: middle;
    white-space: nowrap;
    text-decoration: none;
    color: inherit;
    border: none;
    outline: 0;
    background-color: inherit;
}
.button {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-touch-callout: none;
    -khtml-user-select: none;
}
.button:disabled {
    cursor: not-allowed;
    opacity: .3;
}
:disabled * {
    pointer-events: none;
}
.input {
    display: block;
    width: 100%;
    padding: 8px;
    border: none;
    border-bottom: 1px solid #ccc;
}
.modal {
    position: fixed;
    z-index: 3;
    top: 0;
    left: 0;
    display: none;
    overflow: auto;
    width: 100%;
    height: 100%;
    padding-top: 100px;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, .4);
}
.modal-content {
    position: relative;
    width: 600px;
    margin: auto;
    padding: 0;
    outline: 0;
    background-color: #fff;
}
.block {
    display: block;
    width: 100%;
}
.container:after,
.container:before,
.row:after,
.row:before {
    display: table;
    clear: both;
    content: '';
}
.half {
    float: left;
    width: 100%;
}
@media (min-width: 601px) {
    .half {
        width: 49.99999%;
    }
}
@media (max-width: 600px) {
    .modal-content {
        width: auto!important;
        margin: 0 10px;
    }
    .modal {
        padding-top: 30px;
    }
}
@media (max-width: 768px) {
    .modal-content {
        width: 500px;
    }
    .modal {
        padding-top: 50px;
    }
}
@media (min-width: 993px) {
    .modal-content {
        width: 900px;
    }
}
.round {
    border-radius: 4px;
}
.container {
    padding: .01em 16px;
}
.card-4 {
    box-shadow: 0 4px 10px 0 rgba(0, 0, 0, .2), 0 4px 20px 0 rgba(0, 0, 0, .19);
}
.animate-zoom {
    animation: animatezoom .6s;
}
@keyframes animatezoom {
    from {
        transform: scale(0);
    }
    to {
        transform: scale(1);
    }
}
.opacity {
    opacity: .60;
}
.hover-opacity-off:hover {
    opacity: 1;
}
.large {
    font-size: 18px!important;
}
.xlarge {
    font-size: 24px!important;
}
.center {
    text-align: center!important;
}
.border {
    border: 1px solid #ccc!important;
}
.padding-64 {
    padding-top: 64px!important;
    padding-bottom: 64px!important;
}
.button:hover {
    color: #000!important;
    background-color: #ccc!important;
}
/* Colors */

.green {
    color: #fff!important;
    background-color: #4caf50!important;
}
.red {
    color: #fff!important;
    background-color: #f44336!important;
}
.white {
    color: #000!important;
    background-color: #fff!important;
}
.pale-red {
    color: #000!important;
    background-color: #d3d3d3;
}
h1 {
    text-align: center;
}
h2 {
    font-size: 400% !important;
    top: 200px;
    width: 100%;
    height: auto;
    text-align: center;
}
h2 span {
    padding: 5%;
    letter-spacing: -1px;
    color: white;
    background: rgb(0, 0, 0);
    /* fallback color */
    
    background: rgba(23, 23, 23, .7);
    background-size: 100%;
}
html {
    box-sizing: border-box;
}
*,
*:before,
*:after {
    box-sizing: inherit;
}
html {
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}
body {
    margin: 0;
}
img {
    border-style: none;
}
button,
input {
    font: inherit;
    margin: 0;
}
button,
input {
    overflow: visible;
}
button {
    text-transform: none;
}
button,
html [type=button] {
    -webkit-appearance: button;
}
button::-moz-focus-inner,
[type=button]::-moz-focus-inner {
    padding: 0;
    border-style: none;
}
button:-moz-focusring,
[type=button]:-moz-focusring {
    outline: 1px dotted ButtonText;
}
::-webkit-input-placeholder {
    opacity: .54;
    color: inherit;
}
::-webkit-file-upload-button {
    font: inherit;
    -webkit-appearance: button;
}
/* End extract */

html,
body {
    font-family: Verdana, sans-serif;
    font-size: 15px;
    line-height: 1.5;
}
html {
    overflow-x: hidden;
}
h1 {
    font-size: 36px;
}
h2 {
    font-size: 30px;
}
h1,
h2 {
    font-family: 'Segoe UI', Arial, sans-serif;
    font-weight: 400;
    margin: 10px 0;
}
.wide {
    letter-spacing: 4px;
}
img {
    margin-bottom: -5px;
}
:disabled * {
    pointer-events: none;
}
.container:after,
.container:before,
.row:after,
.row:before {
    display: table;
    clear: both;
    content: '';
}
.third {
    float: left;
    width: 100%;
}
@media (min-width: 601px) {
    .third {
        width: 33.33333%;
    }
}
.content {
    max-width: 980px;
    margin: auto;
}
.round {
    border-radius: 4px;
}
.container {
    padding: .01em 16px;
}
.opacity {
    opacity: .60;
}
.justify {
    text-align: justify!important;
}
.center {
    text-align: center!important;
}
.margin-bottom {
    margin-bottom: 16px!important;
}
.padding-32 {
    padding-top: 32px!important;
    padding-bottom: 32px!important;
}
.padding-64 {
    padding-top: 64px!important;
    padding-bottom: 64px!important;
}
html {
    box-sizing: border-box;
}
*,
*:before,
*:after {
    box-sizing: inherit;
}
/* Extract from normalize.css by Nicolas Gallagher and Jonathan Neal git.io/normalize */

html {
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}
body {
    margin: 0;
}
button,
input {
    font: inherit;
    margin: 0;
}
button,
input {
    overflow: visible;
}
button {
    text-transform: none;
}
button,
[type=submit] {
    -webkit-appearance: button;
}
button::-moz-focus-inner,
[type=submit]::-moz-focus-inner {
    padding: 0;
    border-style: none;
}
button:-moz-focusring,
[type=submit]:-moz-focusring {
    outline: 1px dotted ButtonText;
}
::-webkit-input-placeholder {
    opacity: .54;
    color: inherit;
}
::-webkit-file-upload-button {
    font: inherit;
    -webkit-appearance: button;
}
/* End extract */

html,
body {
    font-family: Verdana, sans-serif;
    font-size: 15px;
    line-height: 1.5;
}
html {
    overflow-x: hidden;
}
h2 {
    font-size: 30px;
}
h2 {
    font-family: 'Segoe UI', Arial, sans-serif;
    font-weight: 400;
    margin: 10px 0;
}
.wide {
    letter-spacing: 4px;
}
.button {
    display: inline-block;
    overflow: hidden;
    padding: 8px 16px;
    cursor: pointer;
    text-align: center;
    vertical-align: middle;
    white-space: nowrap;
    text-decoration: none;
    color: inherit;
    border: none;
    outline: 0;
    background-color: inherit;
}
.button {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-touch-callout: none;
    -khtml-user-select: none;
}
.button:disabled {
    cursor: not-allowed;
    opacity: .3;
}
:disabled * {
    pointer-events: none;
}
.input {
    display: block;
    width: 100%;
    padding: 8px;
    border: none;
    border-bottom: 1px solid #ccc;
}
.container:after,
.container:before,
.row:after,
.row:before,
.row-padding:after,
.row-padding:before {
    display: table;
    clear: both;
    content: '';
}
.col,
.half {
    float: left;
    width: 100%;
}
@media (min-width: 601px) {
    .col.m6,
    .half {
        width: 49.99999%;
    }
}
.content {
    max-width: 980px;
    margin: auto;
}
.row-padding,
.row-padding > .half {
    padding: 0 8px;
}
.container {
    padding: .01em 16px;
}
.opacity {
    opacity: .60;
}
.large {
    font-size: 18px!important;
}
.center {
    text-align: center!important;
}
.border {
    border: 1px solid #ccc!important;
}
.section {
    margin-top: 16px!important;
    margin-bottom: 16px!important;
}
.margin-bottom {
    margin-bottom: 16px!important;
}
.padding-32 {
    padding-top: 32px!important;
    padding-bottom: 32px!important;
}
.padding-64 {
    padding-top: 64px!important;
    padding-bottom: 64px!important;
}
.right {
    float: right!important;
}
.button:hover {
    color: #000!important;
    background-color: #ccc!important;
}
.black {
    color: #fff!important;
    background-color: #000!important;
}
