html {
    box-sizing: border-box
}

*,
*:before,
*:after {
    box-sizing: inherit
}

html {
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%
}

body {
    margin: 0
}

button,
input {
    font: inherit;
    margin: 0
}

button,
input {
    overflow: visible
}

button {
    text-transform: none
}

button,
html [type=button] {
    -webkit-appearance: button
}

button::-moz-focus-inner,
[type=button]::-moz-focus-inner {
    border-style: none;
    padding: 0
}

button:-moz-focusring,
[type=button]:-moz-focusring {
    outline: 1px dotted ButtonText
}

::-webkit-input-placeholder {
    color: inherit;
    opacity: 0.54
}

::-webkit-file-upload-button {
    -webkit-appearance: button;
    font: inherit
}


/* End extract */

html,
body {
    font-family: Verdana, sans-serif;
    font-size: 15px;
    line-height: 1.5
}

html {
    overflow-x: hidden
}

h1 {
    font-size: 36px
}

h1 {
    font-family: "Segoe UI", Arial, sans-serif;
    font-weight: 400;
    margin: 10px 0
}

.wide {
    letter-spacing: 4px
}

.button {
    border: none;
    display: inline-block;
    outline: 0;
    padding: 8px 16px;
    vertical-align: middle;
    overflow: hidden;
    text-decoration: none;
    color: inherit;
    background-color: inherit;
    text-align: center;
    cursor: pointer;
    white-space: nowrap
}

.button {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none
}

.button:disabled {
    cursor: not-allowed;
    opacity: 0.3
}

:disabled * {
    pointer-events: none
}

.input {
    padding: 8px;
    display: block;
    border: none;
    border-bottom: 1px solid #ccc;
    width: 100%
}

.modal {
    z-index: 3;
    display: none;
    padding-top: 100px;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.4)
}

.modal-content {
    margin: auto;
    background-color: #fff;
    position: relative;
    padding: 0;
    outline: 0;
    width: 600px
}

.block {
    display: block;
    width: 100%
}

.container:after,
.container:before,
.row:after,
.row:before {
    content: "";
    display: table;
    clear: both
}

.half {
    float: left;
    width: 100%
}

@media (min-width:601px) {
    .half {
        width: 49.99999%
    }
}

@media (max-width:600px) {
    .modal-content {
        margin: 0 10px;
        width: auto!important
    }
    .modal {
        padding-top: 30px
    }
}

@media (max-width:768px) {
    .modal-content {
        width: 500px
    }
    .modal {
        padding-top: 50px
    }
}

@media (min-width:993px) {
    .modal-content {
        width: 900px
    }
}

.round {
    border-radius: 4px
}

.container {
    padding: 0.01em 16px
}

.card-4 {
    box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.2), 0 4px 20px 0 rgba(0, 0, 0, 0.19)
}

.animate-zoom {
    animation: animatezoom 0.6s
}

@keyframes animatezoom {
    from {
        transform: scale(0)
    }
    to {
        transform: scale(1)
    }
}

.opacity {
    opacity: 0.60
}

.hover-opacity-off:hover {
    opacity: 1
}

.large {
    font-size: 18px!important
}

.xlarge {
    font-size: 24px!important
}

.center {
    text-align: center!important
}

.border {
    border: 1px solid #ccc!important
}

.padding-64 {
    padding-top: 64px!important;
    padding-bottom: 64px!important
}

.button:hover {
    color: #000!important;
    background-color: #ccc!important
}


/* Colors */

.green {
    color: #fff!important;
    background-color: #4CAF50!important
}

.red {
    color: #fff!important;
    background-color: #f44336!important
}

.white {
    color: #000!important;
    background-color: #fff!important
}

.pale-red {
    color: #000!important;
    background-color: #ffdddd!important
}

h1{
    text-align: center;
}

h2 {
    top: 200px;
    width: 100%;
    height: auto;
    text-align: center;
    font-size: 600% !important;
}

.mobile_h2 {

    text-align: center;
}
.mobile_h2 span {
    color: white;
    letter-spacing: -1px;
    background: rgb(0, 0, 0); /* fallback color */
    background: rgba(23, 23, 23, 0.7);
    background-size: 100%;
    margin-top: -50%;
}
h2 span {
    color: white;
    letter-spacing: -1px;
    background: rgb(0, 0, 0); /* fallback color */
    background: rgba(23, 23, 23, 0.7);
    background-size: 100%;
    padding: 10px;
}

/* W3.CSS 4.04 Apr 2017 by Jan Egil and Borge Refsnes */

html {
    box-sizing: border-box
}

*,
*:before,
*:after {
    box-sizing: inherit
}


/* Extract from normalize.css by Nicolas Gallagher and Jonathan Neal git.io/normalize */

html {
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%
}

body {
    margin: 0
}

img {
    border-style: none
}

button,
input {
    font: inherit;
    margin: 0
}

button,
input {
    overflow: visible
}

button {
    text-transform: none
}

button,
html [type=button] {
    -webkit-appearance: button
}

button::-moz-focus-inner,
[type=button]::-moz-focus-inner {
    border-style: none;
    padding: 0
}

button:-moz-focusring,
[type=button]:-moz-focusring {
    outline: 1px dotted ButtonText
}

::-webkit-input-placeholder {
    color: inherit;
    opacity: 0.54
}

::-webkit-file-upload-button {
    -webkit-appearance: button;
    font: inherit
}


/* End extract */

html,
body {
    font-family: Verdana, sans-serif;
    font-size: 15px;
    line-height: 1.5
}

html {
    overflow-x: hidden
}

h1 {
    font-size: 36px
}

h2 {
    font-size: 30px
}

h1,
h2 {
    font-family: "Segoe UI", Arial, sans-serif;
    font-weight: 400;
    margin: 10px 0
}

.w3-wide {
    letter-spacing: 4px
}

img {
    margin-bottom: -5px
}

:disabled * {
    pointer-events: none
}

.w3-container:after,
.w3-container:before,
.w3-row:after,
.w3-row:before {
    content: "";
    display: table;
    clear: both
}

.w3-third {
    float: left;
    width: 100%
}

@media (min-width:601px) {
    .w3-third {
        width: 33.33333%
    }
}

.w3-content {
    max-width: 980px;
    margin: auto
}

.w3-round {
    border-radius: 4px
}

.w3-container {
    padding: 0.01em 16px
}

.w3-opacity {
    opacity: 0.60
}

.w3-justify {
    text-align: justify!important
}

.w3-center {
    text-align: center!important
}

.w3-margin-bottom {
    margin-bottom: 16px!important
}

.w3-padding-32 {
    padding-top: 32px!important;
    padding-bottom: 32px!important
}

.w3-padding-64 {
    padding-top: 64px!important;
    padding-bottom: 64px!important
}


html {
    box-sizing: border-box
}

*,
*:before,
*:after {
    box-sizing: inherit
}


/* Extract from normalize.css by Nicolas Gallagher and Jonathan Neal git.io/normalize */

html {
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%
}

body {
    margin: 0
}

button,
input {
    font: inherit;
    margin: 0
}

button,
input {
    overflow: visible
}

button {
    text-transform: none
}

button,
[type=submit] {
    -webkit-appearance: button
}

button::-moz-focus-inner,
[type=submit]::-moz-focus-inner {
    border-style: none;
    padding: 0
}

button:-moz-focusring,
[type=submit]:-moz-focusring {
    outline: 1px dotted ButtonText
}

::-webkit-input-placeholder {
    color: inherit;
    opacity: 0.54
}

::-webkit-file-upload-button {
    -webkit-appearance: button;
    font: inherit
}


/* End extract */

html,
body {
    font-family: Verdana, sans-serif;
    font-size: 15px;
    line-height: 1.5
}

html {
    overflow-x: hidden
}

h2 {
    font-size: 30px
}

h2 {
    font-family: "Segoe UI", Arial, sans-serif;
    font-weight: 400;
    margin: 10px 0
}

.w3-wide {
    letter-spacing: 4px
}

.w3-button {
    border: none;
    display: inline-block;
    outline: 0;
    padding: 8px 16px;
    vertical-align: middle;
    overflow: hidden;
    text-decoration: none;
    color: inherit;
    background-color: inherit;
    text-align: center;
    cursor: pointer;
    white-space: nowrap
}

.w3-button {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none
}

.w3-button:disabled {
    cursor: not-allowed;
    opacity: 0.3
}

:disabled * {
    pointer-events: none
}

.w3-input {
    padding: 8px;
    display: block;
    border: none;
    border-bottom: 1px solid #ccc;
    width: 100%
}

.w3-container:after,
.w3-container:before,
.w3-row:after,
.w3-row:before,
.w3-row-padding:after,
.w3-row-padding:before {
    content: "";
    display: table;
    clear: both
}

.w3-col,
.w3-half {
    float: left;
    width: 100%
}

@media (min-width:601px) {
    .w3-col.m6,
    .w3-half {
        width: 49.99999%
    }
}

.w3-content {
    max-width: 980px;
    margin: auto
}

.w3-row-padding,
.w3-row-padding>.w3-half {
    padding: 0 8px
}

.w3-container {
    padding: 0.01em 16px
}

.w3-opacity {
    opacity: 0.60
}

.w3-large {
    font-size: 18px!important
}

.w3-center {
    text-align: center!important
}

.w3-border {
    border: 1px solid #ccc!important
}

.w3-section {
    margin-top: 16px!important;
    margin-bottom: 16px!important
}

.w3-margin-bottom {
    margin-bottom: 16px!important
}

.w3-padding-32 {
    padding-top: 32px!important;
    padding-bottom: 32px!important
}

.w3-padding-64 {
    padding-top: 64px!important;
    padding-bottom: 64px!important
}

.w3-right {
    float: right!important
}

.w3-button:hover {
    color: #000!important;
    background-color: #ccc!important
}

.w3-black {
    color: #fff!important;
    background-color: #000!important
}
