.navbar {
     padding-top: 15px;
     padding-bottom: 15px;
     border: 0;
     border-radius: 0;
     margin-bottom: 0;
     font-size: 12px;
     letter-spacing: 5px;
     position: fixed;
}

body {
    line-height: 1.8;
    font-family: 'Bellefair', serif;
}

p{
    font-size: 100%;
}
@media (min-width: 768px) {
     p{
          font-size: 200%;
     }
}
.header{
    font-size: 400%;
    font-family: 'Bellefair', serif;
    text-align: center;
}

.plovediv{
    width: 100%;
    height: auto;
}

div.gallery {
    margin: 5px;
    align-content: center;
}


div.gallery img {
    height: auto;
    width: 60%;
    margin-left: 20%;
}

div.desc {
    padding: 15px;
    text-align: center;
    font-size: 150%;
}

footer{
    background-color: rgba(226, 226, 226, 0.51);
}
