#lovato{
    padding-left: 15%;
    height: 50vw;
    float: left;
}

body {
    font-family: 'Courgette', cursive;
    background-color: black;
}

h1{
    font-size: 500%;
}

h1 small {
    margin-right: 10% !important;
}
#title{
    float: right;
    padding-top: 20%;
    text-align: center;
    color: white;
}

#info {
    background-color: #4c3a7b;
    width: 100%;
}

#info p{
    color: white;
    padding: 10%;
    margin-right: -15%;
    font-size: 200%;
    justify-content: center;
    align-content: center;
    text-align: center;
}


#info img{
    float: right;
    width: 10%;
    padding-top: 6%;
}
@media only screen and (max-width: 700px) {
        #lovato{
            align-content: center;
            height: 100vw;
        }

        h1{
            text-align: center;

        }
}