#lovato{
    height: 50vw;
    float: left;
}

body {
    font-family: 'Courgette', cursive;
}

#title{
    float: left;
    padding-top: 20%;
    text-align: center;
    color: white;
    padding-left: 10%;
    font-size: 700%;
}

#info {
    background-color: #4c3a7b;
}

#info p{
    color: white;
    padding: 10%;
    margin-right: -15%;
    font-size: 200%;
    justify-content: center;
    align-content: center;
    text-align: center;
}

#vids {
    margin: 7%;
}

#music {
    background-color: greenyellow;
    padding-top: 7%;
    padding-bottom: 7%;
}
#info img{
    float: right;
    width: 10%;
    padding-top: 6%;
}
@media only screen and (max-width: 700px) {
        #lovato{
            align-content: center;
            height: 100vw;
        }

        h1{
            text-align: center;

        }
}
