body {
     line-height: 1.8;
     font-family: 'PT Sans Narrow', sans-serif !important;
 }

.image {
    position: relative;
    height: auto;
    width: 100%;
}

p{
    font-size: 200%;
}

h1{
    font-size: 400% !important;
    text-align: center;
}
h2 {
    top: 200px;
    width: 100%;
    height: auto;
    text-align: center;
    font-size: 600% !important;

}

h2 span {
    color: white;
    letter-spacing: -1px;
    background: rgb(0, 0, 0); /* fallback color */
    background: rgba(23, 23, 23, 0.7);
    background-size: 100%;
    padding: 10px;
}

#wrapper {
    width: 90%;
    margin-left: 5%;
    display: flex;
    justify-content: space-between;
    overflow: auto;
}
#first {
    width: 45%;
    background-color: rgba(82, 82, 82, 0.27);
    margin-top: -1.2%;
}

#second {
    margin-top: -1.2%;
    width: 45%;
    float: right;
    background-color: rgba(82, 82, 82, 0.27);
}

li{
    font-size: 250%;
    text-align: center;
    list-style: none;
    margin-left: -5%; /*remove space from list style */
}


.demo-bg{
    background: #ffac0c;
}
.business-hours {
    background: #222;
    padding: 40px 14px;
    margin-top: -15px;
    position: relative;
}
.business-hours:before{
    content: '';
    width: 23px;
    height: 23px;
    background: #111;
    position: absolute;
    top: 5px;
    left: -12px;
    transform: rotate(-45deg);
    z-index: -1;
}
.business-hours .title {
    font-size: 100%;
    color: #BBB;
    text-transform: uppercase;
    padding-left: 5px;
    border-left: 5px solid #ffac0c;
}
.business-hours li {
    color: #888;
    line-height: 30px;
}
.business-hours li:last-child {
    border-bottom: none;
}
.business-hours .opening-hours li.today {
    color: #ffac0c;
}
